mat-form-field.block-input{
	height:70px;
	font-size:16px;
}

.currency-value {
	background-color:rgb(50, 50, 50);
	padding:5px;
}

.sbd-value {
	font-size:12px;
	background-color:rgb(50, 50, 50);
	padding:5px;
}