<div class="app-content">
	<form (ngSubmit)="addAccount()">
		<mat-card class="earnings-card">
			<mat-card-header>
				<mat-card-title>{{"your_steem_earnings" | translate}}</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<div class="section">
					<h2 class="section-title">{{"type_steem_username" | translate}}</h2>
					<div class="section-content">
						<mat-form-field class="full-width block-input">
							<input matInput placeholder= "@{{'username' | translate}}"  name="username" value="" [(ngModel)]="accountName">
						</mat-form-field>
					</div>
				</div>
			</mat-card-content>
			<mat-card-actions>
				<button mat-raised-button color="accent" (click)="addAccount()">
					<mat-icon fontIcon="fa-plus"></mat-icon>
					{{"add_account" | translate}}
				</button>
			</mat-card-actions>
		</mat-card>
	</form>
	<mat-card class="earnings-card" *ngIf="accounts.length">
		<mat-card-header>
			<mat-card-title>{{"manage_accounts" | translate}}</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<mat-nav-list>
				<h3 mat-subheader>{{"your_accounts" | translate}}</h3>
				<mat-list-item *ngFor="let account of accounts">
					<img mat-list-icon src="https://steemitimages.com/u/{{account || 'unknown'}}/avatar" (click)="selectAccount(account)" />
					<h4 mat-line (click)="selectAccount(account)">{{"account" | translate}}</h4>
					<p>
						<button mat-icon-button color="warn" (click)="removeAccount(account)">
							<mat-icon fontIcon="fa-trash"></mat-icon>
						</button>
					</p>
				</mat-list-item>
				<mat-divider></mat-divider>
			</mat-nav-list>
		</mat-card-content>
	</mat-card>
</div>

