<mat-progress-bar color="accent" mode="indeterminate" *ngIf="loading"></mat-progress-bar>
<div class="app-content">
	
	<mat-card class="earnings-card" *ngIf="mediator.getValue('account')">
		<mat-card-header>
			<img mat-card-avatar src="https://steemitimages.com/u/{{mediator.getValue('account')}}/avatar" />
			<mat-card-title>Earnings of {{mediator.getValue('account') || 'N/A' }}</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			
				<div class="section">
					<h2 class="section-title">Potential Payout:</h2>
					<div class="section-content">
						<mat-form-field class="full-width block-input">
							<input matInput placeholder="Total" value="0" [(ngModel)]="potentialPayoutTotal">
						</mat-form-field>

						<mat-form-field class="full-width block-input">
							<input matInput placeholder="SBD" value="{{potentialPayoutTotal*potentialPayoutRewardShare | number:'1.2-4'}}" [(ngModel)]="potentialPayoutSBD">
						</mat-form-field>
					</div>
				</div>
				<mat-divider></mat-divider>

				<div class="section">
					<h2 class="section-title">Potential Earnings:</h2>
					<div class="section-content highlight">
						{{potentialPayoutSBD * exchangeRate | currency: mediator.getValue("currency"):true:'1.2-2'}} {{mediator.getValue("currency")}}
					</div>
				</div>
				<mat-divider></mat-divider>

				<div class="section">
					<h2 class="section-title">Author Earnings:</h2>
					<div class="section-content highlight">
						{{potentialEarnings | currency: mediator.getValue("currency"):true:'1.2-2'}} {{mediator.getValue("currency")}}
					</div>
				</div>
				<mat-divider></mat-divider>

				<div class="section">
					<h2 class="section-title">Curation Earnings:</h2>
					<div class="section-content highlight">
						{{potentialEarnings | currency: mediator.getValue("currency"):true:'1.2-2'}} {{mediator.getValue("currency")}}
					</div>
				</div>
				<mat-divider></mat-divider>

				<div class="section">
					<h2 class="section-title">Overview:</h2>
					<div class="section-content highlight">
						{{potentialEarnings | currency: mediator.getValue("currency"):true:'1.2-2'}} {{mediator.getValue("currency")}}
					</div>
				</div>
			
		</mat-card-content>
		<mat-card-actions>
			<button mat-raised-button color="accent" (click)="calculateEarnings()">
				REFRESH
				<mat-icon fontIcon="fa-superpowers"></mat-icon>
			</button>
		</mat-card-actions>
	</mat-card>
</div>

