<mat-progress-bar color="accent" mode="indeterminate" *ngIf="loading"></mat-progress-bar>
<div class="app-content">
	<mat-card class="earnings-card" *ngIf="mediator.getValue('account')">
		<mat-card-header>
			<img mat-card-avatar src="https://steemitimages.com/u/{{mediator.getValue('account')}}/avatar" />
			<mat-card-title>Earnings of {{mediator.getValue('account') || 'N/A' }}</mat-card-title>
		</mat-card-header>
		<mat-card-content>
				<div class="section" *ngIf="loading">
					<div class="section-content highlight red">
						<b>Note:</b> We're collecting your data from the steemit.com database, this may take a while!
					</div>
				</div>	
				<div class="section">
					<h2 class="section-title">Potential Payout:</h2>
					<div class="section-content">
						<mat-form-field class="full-width block-input">
							<input matInput placeholder="Total Value (SBD)" value="0" disabled />
						</mat-form-field>
						<mat-form-field class="full-width block-input">
							<input matInput placeholder="Beneficals (SBD)" value="{{PayoutShare | number:'1.2-4'}}"  disabled/>
						</mat-form-field>

						<mat-form-field class="full-width block-input">
							<input matInput placeholder="Reward (SBD)" value="{{PayoutTotal | number:'1.2-4'}}" disabled />
						</mat-form-field>
					</div>
				</div>
				<mat-divider></mat-divider>

				<div class="section">
					<h2 class="section-title">Estimated Total Earnings:</h2>
					<div class="section-content highlight">
						{{authorEarnings + curationEarnings | currency: mediator.getValue("currency"):true:'1.2-2'}} {{mediator.getValue("currency")}}
					</div>
				</div>
				<mat-divider></mat-divider>

				<div class="section">
					<h2 class="section-title">Estimated Author Earnings:</h2>
					<div class="section-content highlight">
						{{authorEarnings | currency: mediator.getValue("currency"):true:'1.2-2'}} {{mediator.getValue("currency")}}
					</div>
				</div>
				<mat-divider></mat-divider>
<!--
				<div class="section">
					<h2 class="section-title">Estimated Curation Earnings:</h2>
					<div class="section-content highlight">
						{{curationEarnings | currency: mediator.getValue("currency"):true:'1.2-2'}} {{mediator.getValue("currency")}}
					</div>
				</div>
				<mat-divider></mat-divider>-->

				<div class="section">
					<h2 class="section-title">Current Exchange Rate (SBD => {{mediator.getValue("currency")}}):</h2>
					<div class="section-content highlight">
						{{marketStatus.price | currency: mediator.getValue("currency"):true:'1.2-2'}}
					</div>
				</div>
			
		</mat-card-content>
		<mat-card-actions>
			<button mat-raised-button color="accent" (click)="refresh()">
				REFRESH
				<mat-icon fontIcon="fa-superpowers"></mat-icon>
			</button>
		</mat-card-actions>
	</mat-card>
</div>

